// From react todo-list

/* Sublime monokai theme */
$background: #272822;
$comments: #797979;
$white: #d6d6d6;
$yellow: #e6db74;
$green: #a6e22e;
$orange: #fd971f;
$purple: #ae81ff;
$pink: #f92672;
$blue: #66d9ef;

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

@mixin x-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin x-transition {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@mixin shadowboxing($value: $white) {
  border-radius: 9px;
  box-shadow: 0 0 30px rgba(211, 220, 248, 0.3);
  border: 1px solid $value;
  color: $value;
}

* {
  box-sizing: border-box;
  outline: none;
  background-color: $background;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Monaco", monospace;
}

#add-new {
  width: 30vw;
}
#App {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  height: 90vh;
  padding: 15px 30px;
  @include shadowboxing($purple);
  color: $white;
  margin: 0;
}

button {
  text-transform: uppercase;
  display: block;
  position: relative;
  margin-left: 1em;
  cursor: pointer;
  height: 35px;
  line-height: 10px;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 30px;

  &.delete {
    @include shadowboxing($pink);
  }

  &.edit {
    @include shadowboxing($yellow);
  }

  &.submit {
    @include shadowboxing($green);
    line-height: 20px;
    margin-left: 0px;
    padding: 5px;
    width: 100%;
  }

  @include x-transition;
  @include x-user-select;
}

h2 {
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 2rem;
}

input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 60px 12px 18px;
  background: $comments;
  margin-top: 1em;
  margin-bottom: 1em;
  @include shadowboxing;

  &::placeholder {
    color: $white;
  }
}

label {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 0.5rem;
  display: inline-block;
  color: $green;
}

#bmlist {
  width: 50vw;
  @include custom-scroll-bar();
  overflow-y: scroll;
}

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  margin: 1rem 0;
  font-family: "Segoe UI", sans-serif;
  width: 90%;

  &:hover {
    padding-left: 5px;
    border-left: 1px solid $white;
  }
}

.bm {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;

  a {
    @include shadowboxing($blue);
    line-height: 5px;
  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }
}
