// From react todo-list
@import "global";

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  background-color: $background;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Monaco", monospace;
}

#add-new {
  width: 30vw;
}

#App {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  height: 90vh;
  padding: 15px 30px;
  @include shadowboxing($purple);
  color: $white;
  margin: 0;
}

h2 {
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 2rem;
}

#bmlist {
  width: 50vw;
  @include custom-scroll-bar();
  overflow-y: scroll;
}
