// From react todo-list
@import "global";

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  background-color: $background;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Monaco", monospace;
}

#App {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.card {
  height: 90vh;
  padding: 15px 30px;
  @include shadowboxing($purple);
  color: $white;
  margin: 1em 3em;
}
h2 {
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 2rem;
}
#card-1 {
  min-width: 300px;
  max-width: 30vw;
  max-height: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#bmlist {
  min-width: 50vw;
  max-width: 600px;
  height: fit-content;
  max-height: 90vh;
  @include custom-scroll-bar();
  overflow-y: scroll;
}
