@import "global";

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  margin: 1rem 0;
  font-family: "Segoe UI", sans-serif;
  width: 90%;

  &:hover {
    padding-left: 5px;
    border-left: 1px solid $white;
  }
}

.bm {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;

  a {
    @include shadowboxing($blue);
    line-height: 5px;
  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }
}
