@import "global";

input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 60px 12px 18px;
  background: $comments;
  margin-top: 1em;
  margin-bottom: 1em;
  @include shadowboxing;

  &::placeholder {
    color: $white;
  }
}

label {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 0.5rem;
  display: inline-block;
  color: $green;
}
